.task-detail-card-wrapper {
  margin: 1rem;
  .card-container {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

    .card-wrapper {
      display: flex;
      padding: 1rem 0;

      .desc-wrapper {
        padding: 1rem;
      }
    }
  }
}
