.edit-wrapper {
  margin: 2rem;

  .steps-label {
    text-align: center;
    font-weight: 500;
  }

  .button-wrapper {
    display: flex;
    gap: 1rem;
    button {
      margin-top: 2rem;
    }
  }
}
