.wrapper {
  padding: 2rem;
  overflow-x: scroll;

  .title {
    font-size: 2.2rem;
    margin-left: 0.5rem;
  }
  button {
    margin: 1rem;
  }
  .tasks-wrapper {
    display: flex;
    flex-flow: row;

    .task-detail-card-wrapper {
      .cards-container {
        .card-body {
          .card-wrapper {
            .desc-wrapper {
              max-width: 150px;
            }
          }
        }
      }
    }
  }
}
